<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Store - Your Best Marketplace</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navbar -->
    <nav
      class="
        navbar navbar-expand-lg navbar-light navbar-store
        fixed-top
        navbar-fixed-top
      "
      data-aos="fade-down"
    >
      <div class="container">
        <a href="/index.html" class="navbar-brand">
          <img src="/images/logo.svg" alt="Logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/categories.html" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
              <a href="/index.html" class="nav-link">Rewards</a>
            </li>
            <li class="nav-item">
              <a href="/index.html" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
              <a
                href="/index.html"
                class="btn btn-success nav-link px-4 py-2 text-white"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-content page-auth" id="register">
      <div class="section-auth-store" data-aos="fade-up">
        <div class="container">
          <div
            class="row align-items-center row-login ml-3 justify-content-center"
          >
            <div class="col-lg-5">
              <h2>
                Mulai kegiatan jual beli <br />
                dengan cara terbaru
              </h2>
              <form action="" class="mt-3">
                <div class="form-group">
                  <label for="name">Full Name</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control w-75 is-valid"
                    v-model="name"
                    autofocus
                    autocomplete="none"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control w-75 is-invalid"
                    v-model="email"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control w-75"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Toko</label>
                  <p class="text-muted">Apakah anda juga ingin membuka toko?</p>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      name="isStoreOpen"
                      id="openStoreTrue"
                      class="custom-control-input"
                      v-model="isStoreOpen"
                      :value="true"
                    />
                    <label for="openStoreTrue" class="custom-control-label"
                      >Iya, boleh</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      name="isStoreOpen"
                      id="openStoreFalse"
                      class="custom-control-input"
                      v-model="isStoreOpen"
                      :value="false"
                    />
                    <label for="openStoreFalse" class="custom-control-label"
                      >Enggak, makasih</label
                    >
                  </div>
                  <div class="form-group" v-if="isStoreOpen">
                    <label for="toko" class="mt-2">Nama Toko</label>
                    <input
                      type="text"
                      name="toko"
                      id="toko"
                      class="form-control w-75 is-valid"
                      v-model="toko"
                      autofocus
                      autocomplete="none"
                    />
                  </div>
                </div>
                <div class="form-group" v-if="isStoreOpen">
                  <label for="kategori">Kategori</label>
                  <select name="" disabled class="form-control w-75">
                    <option name="kategori" value="Peralatan Rumah">
                      Pilih Kategori
                    </option>
                  </select>
                </div>
                <a href="/dashboard.html" class="btn btn-success w-75 mt-3">
                  Register Now
                </a>
                <a href="/login.html" class="btn btn-signup w-75 mt-3">
                  Back to login
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p class="pt-4 pb-2">2020 Copyright Store. All Right Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script>
      Vue.use(Toasted);
      var register = new Vue({
        el: "#register",
        mounted() {
          AOS.init();
          this.$toasted.error(
            "Maaf email anda sudah terdaftar, silahkan coba email lain",
            {
              position: "top-center",
              className: "rounded",
              duration: 2000,
            }
          );
        },
        data: {
          name: "Yoga Baskoro",
          email: "yogasab40@gmail.com",
          toko: "PT Mencari Cinta Sejati",
          password: "",
          isStoreOpen: true,
        },
      });
    </script>
    <script src="/script/navbar-scroll.js"></script>
  </body>
</html>
